body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 36px;
    text-align: center;
}

.board {
    width: 320px;
    margin: 20px auto;
}

.board__row {
    display: flex;
}

.board__row__column {
    width: 20px;
    height: 20px;
    border: 1px solid hsla(0, 0%, 0%, .1);

}

.buttons {
    width: 500px;
    margin: auto auto;
    text-align: center;
}

.buttons .buttons__clear {
    padding: 12px 16px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
}

.buttons .buttons__clear:active {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.buttons .buttons__options {
    padding: 12px 16px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
}